<main>
  <form action="/addInfo" method="POST">
    <h1 class="h4 mt-4 mb-4">Please verify your order</h1>
    <div class="mb-3">
      <label for="firstName" class="form-label">First name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        placeholder="Tim"
        disabled
      />
    </div>
    <button class="mt-4 w-100 btn btn-dark" type="submit">Submit</button>
  </form>
</main>
