<main>
  <form action="/" method="POST">
    <h1 class="h4 mt-4 mb-4">Please fill in all fields</h1>
    <div class="mb-3">
      <label for="formControlInputFirstName" class="form-label"
        >First name</label
      >
      <input
        type="text"
        id="first-name"
        name="first-name"
        class="form-control"
        placeholder=""
        required
        autofocus
      />
    </div>
    <div class="mb-3">
      <label for="formControlInputLastName" class="form-label">Last name</label>
      <input
        type="text"
        id="last-name"
        name="last-name"
        class="form-control"
        placeholder=""
        required
      />
    </div>
    <div class="mb-3">
      <label for="formControlInputGender" class="form-label">Gender</label>
      <select class="form-select">
        <option value="female">Female</option>
        <option value="male">Male</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="formControlInputBirthDate" class="form-label"
        >Birth date</label
      >
      <input
        type="date"
        id="birth-date"
        name="birth-date"
        class="form-control"
        placeholder=""
        required
      />
    </div>
    <h1 class="h5 mt-5 mb-3">Information about your test</h1>
    <div class="mb-3">
      <label for="formControlInputTestDate" class="form-label"
        >Date of your test</label
      >
      <input
        type="date"
        id="date-of-test"
        name="date-of-test"
        class="form-control"
        placeholder=""
        required
      />
    </div>
    <div class="mb-3">
      <label for="formControlInputResultDate" class="form-label"
        >Date of your result</label
      >
      <input
        type="date"
        id="date-of-result"
        name="date-of-result"
        class="form-control"
        placeholder=""
        required
      />
    </div>
    <button class="mt-4 w-100 btn btn-dark btn-lg" type="submit">Submit</button>
  </form>
</main>
