<main>
  <form action="/" method="POST">
    <h1 class="h4 mt-4 mb-4">Please fill in all fields</h1>
    <div class="mb-3">
      <label for="formControlInputFirstName" class="form-label"
        >First name</label
      >
      <input
        type="text"
        id="first-name"
        name="first-name"
        class="form-control"
        placeholder=""
        required
        autofocus
      />
    </div>
    <div class="mb-3">
      <label for="formControlInputLastName" class="form-label">Last name</label>
      <input
        type="text"
        id="last-name"
        name="last-name"
        class="form-control"
        placeholder=""
        required
      />
    </div>
    <button class="mt-4 w-100 btn btn-dark btn-lg" type="submit">Submit</button>
  </form>
</main>
